<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>{% block title %} {% endblock %} | Todo API</title>
  </head>
  <body>
    <!-- navigation -->
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('main.index') }}">
          <h1 class="is-size-3 has-text-weight-semibold font-rubik">
            Todo API
          </h1>
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{{ url_for('main.generate_token') }}" class="navbar-item">
            Generate token
          </a>
          <a
            href="https://github.com/LoisaKitakaya/Flask-Todo-API/blob/main/README.md"
            class="navbar-item"
          >
            Documentation
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>
            <div class="navbar-dropdown">
              <a href="{{ url_for('main.contact') }}" class="navbar-item">
                Contact
              </a>
              <a
                href="https://github.com/LoisaKitakaya/Flask-Todo-API"
                class="navbar-item"
              >
                Source code
              </a>
              <hr class="navbar-divider" />
              <a
                href="https://github.com/LoisaKitakaya/Flask-Todo-API/issues"
                class="navbar-item"
              >
                Report an issue
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if current_user.is_authenticated %}
              <a
                href="{{ url_for('main.logout') }}"
                class="button is-danger is-light"
              >
                <strong>Log out</strong>
              </a>
              {% else %}
              <a
                href="{{ url_for('main.signup') }}"
                class="button is-primary is-light"
              >
                <strong>Sign up</strong>
              </a>
              <a
                href="{{ url_for('main.login') }}"
                class="button is-warning is-light"
              >
                <strong>Log in</strong>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- navigation -->

    <!-- main app -->
    <div class="app">
      {% block app %}
      <!--  -->
      {% endblock %}
    </div>
    <!-- main app -->

    <!-- footer -->
    <footer class="footer is-light">
      <div class="content has-text-centered">
        <p>
          <strong>Todo API</strong> by
          <a href="https://freedomloisa.netlify.app/" class="is-underlined"
            >Freedom Loisa</a
          >. The source code is licensed
          <a
            href="http://opensource.org/licenses/mit-license.php"
            class="is-underlined"
            >MIT</a
          >. The website content is licensed
          <a
            href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            class="is-underlined"
            >CC BY NC SA 4.0</a
          >.
        </p>
      </div>
    </footer>
    <!-- footer -->
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
